$primary-color: #9e9d24; // lime darken-3
$secondary-color: #ffca28; //amber lighten-1
$tertiary-color: #3e2723;

$primary-font: 'Chelsea Market', cursive;
$secondary-font: 'Harmattan', sans-serif;
$tertiary-font: 'Rancho', cursive;

