$primary-color: #9e9d24; // lime darken-3
$secondary-color: #ffca28; //amber lighten-1
$tertiary-color: #3e2723; //brown darken-4

$primary-font: 'Chelsea Market', cursive;
$secondary-font: 'Harmattan', sans-serif;
$tertiary-font: 'Rancho', cursive;

$rideReport-color: #558b2f; //light-green darken-3
$openTicket-color: #c62828; //red darken-3
$meetup-color: #0277bd; //light-blue darken-3
$closedTicket-color: #616161; //grey darken-2
