.test {
	color: red;
}

// #map #mapView{ 
// 	height: 100%;
// }

.angular-google-map-container { height: 400px; }

#posts {
	height: 500px;
	overflow: auto;
}

.ride-report {
	color: green;
}

.meetup {
	color: blue;
}

.open-ticket {
	color: red;
}

.closed-ticket {
	color: gray;
}

.postSection {
	border: 1px solid #ccc;
	border-radius: 5px;
}

#rightHalf{
	position: relative;
}

#ticketModal-close {
	position: absolute;
	z-index: 4;
	width: 400px;
	top: 200px;
	left: 20px;
	border: 2px solid gray;
	border-radius: 10px;
	background: rgba(255,255,255,.90);
}

#ticketModal-open {
	position: absolute;
	z-index: 4;
	width: 400px;
	top: 200px;
	left: 20px;
	border: 2px solid gray;
	border-radius: 10px;
	background: rgba(255,255,255,.90);
}

.imgThumb {
	width: 50%;
	height: 40px;
}

#loaderContainer {
	position: absolute;
	z-index: 8;
	top: 50%;
	right: 50%;
}
#traiView{
	position: relative;
}

#openTicketPhoto {
	position: absolute;
	z-index: 6;
	top: 100px;
	right: 10%;
	width: 75%;
}