<nav ng-controller="navCtrl">
  <div id="navBar" class="nav-wrapper">
          <a ng-href="#/trackerHome" class="brand-logo">Trail Tracker (logo?)</a>

        <ul id="nav-mobile" class="right">
          <li>
            <a class="navLink" ng-href="#/selectTrail"><i class="material-icons left">directions_bike</i>trails</a></li>
          <li >
            <a class="navLink" ng-href="#/login" ng-click="logout()"><i class="material-icons left">perm_identity</i>logout</a></li>
        </ul>
  </div>
</nav>
