<div id="homePage" >
	
	<div class="container">
		<div class="row">
			<h1 class="appTitle center-align col s12">Trail Tracker</h1>
		</div>

		<div id="appDescription" class="col m6 offset-m3 s12">
			<p>description of the app goes here...Lorem ipsum a rochefort campagnolo a the, het volk boonen res firma mitescere nescit rouleur derby freire. For geraardsbergen, milan-san remo anquetil cutters supplesse belleville caravane.</p>

		</div>

		<!-- show either "select trail" or "login" button -->
		<div class="row" ng-show="loggedIn">
			<div class="col m4 offset-m4 s12">	
				<div class="collection">
					<a class="collection-item center-align btn-large amber lighten-1 lime-text text-darken-3" ng-href="#/selectTrail"><i class="material-icons left lime-text text-darken-3">directions_bike</i>select a trail</a>
				</div>
			</div>
		</div>

		<div class = "row" ng-show="!loggedIn">
			<div class="col m4 offset-m4 s12">	
				<div class="collection">
					<a class="collection-item center-align btn-large amber lighten-1 lime-text text-darken-3" ng-href="#/login"><i class="material-icons left lime-text text-darken-3">perm_identity</i>Login/Register</a>
				</div>
			</div>
		</div>

	</div>
</div>
