
<!-- <div class="container"> -->

	<div class="row">

		<div id="leftHalf" class="col m6 s12">
			<div id="trailName" class="col s12">
				<h1>{{selectedTrail.trailName}}</h1>
			</div>
			<div id="map" class="col s12">
				<h3>map goes here</h3>
				<p>latitude: {{selectedTrail.latitude}}</p>
				<p>longitude: {{selectedTrail.longitude}}</p>
			</div>
			<div id="weather" class="col s12>"> 
				<h3>current weather goes here</h3>
			</div>
		</div>

		<div id="rightHalf" class="col m6 s12">
			<div id="addPostDiv" class="col s12">
				<h4>add new post</h4>
			</div>
			<div id="posts" class="col s12">
				<div ng-repeat="post in posts">
					<h5>{{post.postTypeString}}</h5>
					<h6>by: {{post.userId}}</h6>
					<p>report: {{post.description}}</p>
				</div>

			</div>
		</div>

	</div>
	
<!-- </div> -->

